// Place all the styles related to the Funds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  div#explain-footer {
    padding-top: 20px;
    text-align: left;
    p {
      font-size: 0.8em;
      color: rgb(127, 140, 141)
    }
  }

  .monopoly_man{
    background-image: url('monopoly-man.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 278px;
    height: 360px;
    margin: 0 auto;
  }

  .toliet_paper{
    background-image: url('http://i.imgur.com/ylM09jb.jpg?1');
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 300px;
    margin: 0 auto;
  }

  .gold_backpack {
    background-image: url('http://i.imgur.com/ZCv5Yjk.jpg?2');
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 300px;
    margin: 0 auto;
  }

  .toliet {
    background-image: url('http://i.imgur.com/h4dtmMl.jpg?1');
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 300px;
    margin: 0 auto;
  }

  .vacuum {
    background-image: url('http://i.imgur.com/r03Js3w.jpg?1');
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 300px;
    margin: 0 auto;
  }

  .whac_a_mole {
    background-image: url('http://i.imgur.com/We9wRd8.jpg?1');
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 300px;
    margin: 0 auto;
  }

  .headset {
    background-image: url('http://i.imgur.com/x6BebRU.jpg?1');
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 300px;
    margin: 0 auto;
  }

  .hovercraft {
    background-image: url('http://i.imgur.com/KV4qnTn.jpg?1');
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 300px;
    margin: 0 auto;
    margin: 0 auto;
  }

  .robot{
    background-image: url('http://i.imgur.com/QR8sSGW.jpg?1');
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 300px;
    margin: 0 auto;
  }