var retirementAge = 65;
var growth_rate = 8;
var vanguard_ratio = 0.17;

var pv = <%= @present_value %>
var pmt = <%= @pmt %>
var age = <%= @age %>
var exp = <%= @exp_ratio %>

var port1 = new PortfolioValue(pv, pmt, age, exp);
var port2 = new PortfolioValue(pv, pmt, age, vanguard_ratio);
var gift = port2.fv - port1.fv
var ripoff = "$" + (gift).formatMoney(0);

$(".modal-header").empty();
$(".modal-body").empty();
$(".modal-header").append('<h3>You paid your broker '+ ripoff + ' extra');
$(".modal-header").append('<h4>By the time you retire, they can buy:</h4>');

if (gift >= 1350000) {
  $(".modal-body").append('<h4>A Giant Robot Warrior for $1,350,000</h4>');
  $(".modal-body").append('<div class="robot"></div>'); 
} else if (gift >= 190000) {
  $(".modal-body").append('<h4>An Actual Hovercraft for $190,000</h4>');
  $(".modal-body").append('<div class="hovercraft"></div>');  
} else if (gift >= 50000) {
  $(".modal-body").append('<h4>A Diamond Encrusted Bluetooth Headset for $50,000</h4>');
  $(".modal-body").append('<div class="headset"></div>');   
} else if (gift >= 35000) {
  $(".modal-body").append('<h4>A Personalized Whac-A-Mole Game for $35,000</h4>');
  $(".modal-body").append('<div class="whac_a_mole"></div>');  
} else if (gift >= 18993) {
  $(".modal-body").append('<h4>A Crystal Ergoripado Vaccum for >$18,993</h4>');
  $(".modal-body").append('<div class="vacuum"></div>');    
} else if (gift >= 6400) {
  $(".modal-body").append('<h4>The Kohler Numi Toilet System for $6400</h4>');
  $(".modal-body").append('<div class="toliet"></div>');
} else if (gift >= 1650) {
  $(".modal-body").append('<h4>A Gold Backpack for $1650</h4>');
  $(".modal-body").append('<div class="gold_backpack"></div>');
} else if (gift >= 20 ) {
  $(".modal-body").append('<h4>Renova Colored Toliet Paper for $20</h4>');
  $(".modal-body").append('<div class="toliet_paper"></div>');
}
