
var retirementAge = 65;
var growth_rate = 8;
var vanguard_ratio = 0.17;

var pv = <%= @present_value.to_i %>
var pmt = <%= @pmt.to_i %>
var age = <%= @age.to_i %>
var exp = <%= @exp_ratio.to_f %>

var port1 = new PortfolioValue(pv, pmt, age, exp);
var port2 = new PortfolioValue(pv, pmt, age, vanguard_ratio);
var gift = port2.fv - port1.fv
var ripoff = "$" + (gift).formatMoney(0);

$(".ripoff").empty();
$(".ripoff").append('<h3>You paid your broker '+ ripoff +'</h3>');
$(".ripoff").append('<h4>By the time you retire, they can buy a:</h4>');

if (20 <= gift && gift < 1650){
  $(".ripoff").append('<div>$20 Renova Colored Toliet Paper</div>');
  $(".ripoff").append('<div class="toliet_paper"></div>');
} else if (1650 <= gift && gift < 6400){
  $(".ripoff").append('<div>$1650 Gold Backpack</div>');
  $(".ripoff").append('<div class="gold_backpack"></div>');
} else if (6400 <= gift && gift < 18993) {
  $(".ripoff").append('<div>$6400 The Kohler Numi Toilet System</div>');
  $(".ripoff").append('<div class="toliet"></div>');
} else if (18993 <= gift && gift < 35000) {
  $(".ripoff").append('<div>$18,993 Crystal Ergoripado Vaccum</div>');
  $(".ripoff").append('<div class="vacuum"></div>');      
} else if (35000 <= gift && gift <= 50000) {
  $(".ripoff").append('<div>$35,000 Personalized Whac-A-Mole Game</div>');
  $(".ripoff").append('<div class="whac_a_mole"></div>');      
} else if (50000 <= gift && gift <= 190000) {
  $(".ripoff").append('<div>$50,000 Diamond Encrusted Bluetooth Headset</div>');
  $(".ripoff").append('<div class="headset"></div>');      
} else if (190000 <= gift && gift <= 1350000) {
  $(".ripoff").append('<div>$190,000 An Actual Hovercraft</div>');
  $(".ripoff").append('<div class="hovercraft"></div>');      
} else if (1350000 <= gift) {
  $(".ripoff").append('<div>$1,350,000 Giant Robot Warrior</div>');
  $(".ripoff").append('<div class="robot"></div>'); 
}