<div class="overlay overlay-content.open wrapper">

  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8 col-centered">
      <%= form_tag(funds_path, method: "post", remote: true, id: "nl-form", class: "nl-form clearfix") do %>
        I am currently <input type="text" value="" placeholder="35" name="age" id="age-input" />
        . I have $
          <input type="text" value="" placeholder="10,000" name="present_value" id="pv-input"/>
        saved for retirement. I make monthly investments of $
          <input type="text" value="" placeholder="1,000" name="pmt" id="cont-input" />
        and my high-fee mutual fund's ticker symbol is 
          <input type="text" value="" placeholder="FFFFX" name="fund_ticker" />
        .
        <div class="text-align-center">
          <button class="nl-submit" type="submit">My Broker can buy</button>
        </div>
      <% end %>
    </div>
  </div>

<!--   <div class="ripoff col-md-6">
    <div class="monopoly_man"></div>
  </div>  -->

</div>
