<footer>
    <div class="footer-left">We assume a retirement age of 65, an 8% growth rate and an expense ratio of 0.17%.
    <br><%= link_to "For Example", "https://personal.vanguard.com/us/funds/snapshot?FundId=0695&FundIntExt=INT" %>
    </div>
    <div class="footer-right">Made with ♥ at the Flatiron School</div>
</footer>