<footer>
    <div class="footer-left col-md-4">We assumed that you would retire at 65 and your portfolio would grow at 8% a year, before expenses. We compared your portfolio to <%= link_to "this one", "https://personal.vanguard.com/us/funds/snapshot?FundId=0695&FundIntExt=INT" %>, which has an expense ratio of 0.17%.
    </div>
    <div class="footer-right col-md-2">Made with ♥ at the Flatiron School by <%= link_to "@surgentt", "https://twitter.com/surgentt", :target => "_blank" %> and <%= link_to "@danielpecs", "https://twitter.com/danielspecs", :target => "_blank" %></div>
</footer>